@using GamingDevicesStore.Models
@using GamingDevicesStore.HtmlHelpers
@{
    ViewBag.Title = "Товары";
}

<div class="container-fluid">
    @foreach (var b in ViewBag.Devices)
    {
        @Html.Partial("DeviceSummary",(Device)b)
        <br/>
    }
    <div class="btn-group pull-right">
        @ViewBag.Result
    </div>
</div>