body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar{
    background-color: whitesmoke;
}

.navbar-toggle {
    background: white;
}

.icon-bar {
    background: grey;
}

.navbar-brand {
    font-size: 15px;
    font-family: "Times New Roman",Georgia, Serif;
    color: red;
    letter-spacing: .1em;
    text-shadow: 1px 1px white;
}

a,.navbar-brand:hover  {
    color: blue;
}

@media (max-width: 768px) {
    .navbar {
        height: 75px;
        background-color: whitesmoke;
    }
    #iconCart {
        margin-top: 20px
    }
    #iconCart {
        margin-top: 20px
    }
    #textDevices {
        margin-top: 35px
    }
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-right {
    float: right !important;
    margin-right: 15px;
    margin-left: 15px;
}